/*
.background{
    width: 205vh;
    height: 100vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-card{
    width: 320px;
    padding: 2rem;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    color: white;
    text-align: center;
}


button{
    margin-top: 1.5rem;
    padding: 10px 20px;
    border: none;
    border-radius:10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
    transition: backgorund 0.3s ease;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: linear-gradient(135deg, #b0b1b1, #bff5fc);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main{
    flex: 1;
  }

.glassmorph {
background: rgba(225, 225, 225, 0.1);
backdrop-filter: blur(12px);
box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}


.topo {
padding: 15px 30px;
}


.container-topo {
display: flex;
justify-content: center;
align-items: center;
max-width: 1200px;
margin: 0 auto;
}

.nome-site h1 {
color: white;
font-size: 24px;
}


footer, aside {
color: white;
}
