* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: red;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  main{
    flex: 1;
  }

.glassmorph {
background: rgba(225, 225, 225, 0.1);
backdrop-filter: blur(12px);
box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}


.topo {
padding: 0px;
}


.containerDoTopo {
display: flex;
justify-content: center;
/*justify-content: flex-start;*/
align-items: center;
max-width: 1200px;
padding: 0 0 10px 0;
}
